.grid-form {
    padding: 1rem;
    height: 100vh;
    background: #eee;
    
}

      .multicolortext {
        background-image: linear-gradient(to left, rgb(202, 103, 11), rgb(185, 50, 16), rgb(214, 123, 19), rgb(231, 159, 78), rgb(202, 110, 23), rgb(209, 115, 78), red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
      }

.grid-column>img{
    object-fit: contain;
    height:100px;
    margin-bottom:40px;
    
}